<span>Header: {{$ctrl.name}}</span>
<div name="hidden_filed">
	<input type="hidden" id="admin_id" name="admin[id]" value="{$user_rec.id}">
	<input type="hidden" id="admin_company_id" name="admin[company_id]" value="{$user_rec.company_id}">
	<input type="hidden" id="admin_base_id" name="admin[base_id]" value="{$user_rec.base_id}">
	<input type="hidden" id="admin_permission_level" name="admin[permission]" value="{$user_rec.permission}">
</div>
	<div id="wrapper">
    
        <!-- Sidebar -->
        <div id="nav_div">
	        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        	<div class="container-fluid">
			        <div class="navbar-header">
			          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			            <span class="sr-only">Navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          </button>      
			          <a class="navbar-brand" href="#">Sam - LOGO</a>    
			        </div>
			        
			       
			        <!-- Collect the nav links, forms, and other content for toggling -->
			        
			        <div class="collapse navbar-collapse navbar-ex1-collapse">
			        
			          <!-- <ul class="nav navbar-nav side-nav nav_left_padding_top"> -->
			          <ul class="nav navbar-nav navbar-left scrollable-menu nav_left_padding_top">
			            <li><a href="#/admin/login">Login Page</a></li>
			            <li><a href="#/admin/dashboard/view">Dashboard</a></li>
	    				<li><a href="#/admin/mgmt/view">Admin Mgmt</a></li>
			          </ul>
			
			          <ul class="nav navbar-nav navbar-right navbar-user nav_right_padding_top">
			            <!-- language switch -->
			             <li>
			             	<div class="switch-language">
			 					<label class="switch-field">Language</label>
			 					<select id="language" class="field" onchange="window.location='index.php?{$query_str}&language='+document.getElementById('language').value">
			 						<option value="en" {if $language eq 'en'} selected='selected' {/if}>English</option>
			 						<option value="zh" {if $language eq 'zh'} selected='selected' {/if}>Chinese</option>
			 					</select>
			 				</div>
			             </li>
			             <!-- language switch -->
			             
			            <!-- 
			            <li class="dropdown user-dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown">              
			              <div class="admin-profile-thumb">
			                  <img src="images/admin.png"> 
			              </div>
			           
			              
			              {{$ctrl.name}} {{$ctrl.name}}<b class="caret"></b></a>
			              <ul class="dropdown-menu">
			                <li><a href="index.php?page=admin_manager"><i class="fa fa-user"></i> Profile</a></li>           
			                <li><a href="index.php?action=logout"><i class="fa fa-power-off"></i>log_out</a></li>
			              </ul>
			            </li>
			             -->
			          </ul>
			          
			          
			          
			          
			        </div><!-- /.navbar-collapse -->
	        	</div>
	      </nav>
      </div>

      <div id="page-wrapper">
