@charset "utf-8";
/* CSS Document */

/*-----------------------------------*/
			/*Comman part*/
/*-----------------------------------*/

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	color:#333333;
	background:#ececec;
	font-size:11px;
}

/*
*Collapsed under 1440 px.
*/
@media (max-width: 1440px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.clear{
	clear:both;
}
img{
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }
ul, ol {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
a{
	color:#666666;
}
a, a:visited {
	color:#666666;
    outline: medium none;
    text-decoration: none;
}
a:hover, a:active {
    color: #666666;
	text-decoration:none;
}
p a, p a:visited {
    font-weight: inherit;
    line-height: inherit;
}
button {
    transition: all 0.2s linear 0s;
}
.left{
	float:left;
}
.right{
	float:right;
}
.my_shop_headline1{
	color:#116494;
	font-weight:normal !important;
}
.placeholder {
  color: #333333;
 }
/*----------------------------------*/
/*----------------Buttons--------------*/
a.normal_button{
	background:#116494;
	font-size:14px;
	padding:7px 15px;
	text-align:center;
	color:#fff;
	-webkit-appearance: none;
	-moz-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out ;
}
a.normal_button:hover{
	background:#6c6c6c;
}
/*-----------------main----------------*/
.wraper{
	width:100%;
	margin:0;
	padding:0;
}
.wraper2{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background:url(../image/all_bg.jpg) top no-repeat;
}
.container{
	max-width:1170px;
	width:100%;
	margin:0 auto;
}
.header{
	width:100%;
	padding:10px 0;
	position:fixed;
	top:0;
	left:0;
	height:auto;
	background-color:#570c71;
	border-bottom:1px solid #9400d1;
	z-index:3;
	background: rgb(87, 12, 112) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(87, 12, 112, 0.95);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99570c71, endColorstr=#99570c71);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99570c71, endColorstr=#99570c71)";
}
.slider{
	width:100%;
	height:540px;
	position:relative;
	z-index:2;
	background:url(../image/slide1.jpg) center no-repeat;
}
.slider_text{
	font-size:35px;
	color:#ffffff;
	text-align:center;
	width:100%;
	padding-top:120px;
	font-family: 'Roboto Slab', serif;
	text-shadow: 2px 2px #000000;
}
.header_nav{
	float:right;
	font-size:12px;
	color:#ffffff;
	line-height:10px;
	padding-top:10px;
}
.header_nav ul {
	margin:0;
	/*padding:0 10px;*/
	list-style-type:none;
}
.header_nav ul li{
	/*float:left;*/
	color:#ffffff;
	text-align:right;
	/*padding-left:10px;
	padding-right:10px;*/
	/*padding-top:5px;*/
}
.header_nav ul li a{
	color:#ffffff !important;
}
.header_nav ul li:last-child{
	border-right:0px solid #ffffff;
}
.header .social ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.header .social ul li{
	float:left;
	margin:0px 5px;
}
.social{
	float:right;
	width:130px;
}
.logo{
	width:156px;
	height:25px;
	margin:0 auto;
}
.logo2{
	width:156px;
	height:25px;
	margin:0 auto;
}
.home_icon{
	width:18px;
	float:left;
}
/*Site Headings*/
.heading-1{
	font-size:50px;
	padding:10px;
	font-family: 'Roboto Slab', serif;
	color:#5b1379;
	text-align:center
}
.heading_border{
	width:150px;
	height:1px;
	background-color:#5b1379;
	margin:0 auto;
}
.features{
	width:100%;
	padding:15px 0;
}
.features_item{
	width:100%;
	margin:20px 0;
}
.features_item .icon{
	width:89px;
	height:89px;
	margin:0 auto;
}
.features_item .heading{
	font-size:20px;
	color:#333333;
	text-align:center;
}
.features_item .heading p{
	font-size:13px;
	color:#333333;
	text-align:center;
}
.featered-info{
	background-color:#dbdbdb;
	width:100%;
	padding:20px 0 0 0;
}
.featered-info .heading{
	font-size:50px;
	font-family: 'Roboto Slab', serif;
	color:#5b1379;
	text-align:left;
}
.featered-info .heading p{
	font-size:16px;
	color:#333333;
	text-align:left;
}
.readmore{
	background-color:#5b1379;
	color:#ffffff !important;
	padding:10px 30px;
	-moz-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out ;
}
.readmore:hover{
	background-color:#333333;
	color:#ffffff !important;
}
.normal_section{
	width:100%;
	padding:20px 0;
}
.normal_section .heading{
	font-size:45px;
	font-family: 'Roboto Slab', serif;
	color:#5b1379;
	text-align:left;
}
.progress_panel{
	margin:20px 0;
}
.progress {
  height: 30px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #6b02b7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	 animation: progress-bar-stripes 2s linear infinite;
}
.map-section{
	width:100%;
	padding:20px 0;
	min-height:566px;
	height:auto;
	background:#0040FF url(../image/map.png) center no-repeat;
}
.map-section .heading{
	font-size:22px;
	font-family: 'Roboto Slab', serif;
	color:#ffffff;
	font-weight:normal;
	text-align:left;
}
.map-text{
	color:#ffffff;
	font-size:14px;
	margin-top:10px;
	float:left;
}
.route-map{
	width:100%;
	border:5px solid #ffffff;
	margin-top:20px;
	float:left;
}
/**/
.smk_accordion {
  position: relative;
  margin-bottom: 20px;
}
/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
 .accordion_example1{
	 font-size:12px;
}
.smk_accordion .accordion_in {
  border: 1px solid #ccc;
  position: relative;
  z-index: 10;
  margin-top: 15px;
  overflow: hidden;
}
/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_head {
  position: relative;
  background: #FDFDFD;
  padding: 10px;
  font-size: 14px;
  display: block;
  cursor: pointer;
}
.smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
  background: url(../image/plusminus.png) center 0;
}
/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_content {
  background: #F9F9F9;
  color: #7B7E85;
  padding: 3px 10px;
}
.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}
/**
 * --------------------------------------------------------------
 * General
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
  border-radius: 0px;
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
  border-radius: 0px;
}
.smk_accordion .accordion_in.acc_active .acc_content {
  display: block;
}
.smk_accordion .accordion_in.acc_active .acc_head {
  background: #F9F9F9;
  color:#5c1c84;
}
.smk_accordion .accordion_in.acc_active .acc_head .acc_icon_expand {
  background: url(../image/plusminus.png) center -18px;
  color:#5c1c84 !important;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content {
  padding-left: 12px;
  padding-right:20px;
  text-align:justify;
}
/*Footer*/
.footer2{
	width:100%;
	padding:10px 0;
	margin-top:30px;
	font-size:12px;
	color:#ffffff;
	float:left;
	position:fixed;
	bottom:0;
	left:0;
	background:url(../image/slide1.jpg) top no-repeat;
}
.footer2 .social ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.footer2 .social ul li{
	float:left;
	width:32px;
	height:32px;
	margin:0px 5px;
}
.footer2 .social ul li .facebook{
	background:url(../image/facebook-1.png) no-repeat;
}
.footer_email{
	color:#ff9d29;
}
.footer_email:hover{
	color:#ff9d29;
}
.footer{
	width:100%;
	padding:10px 0;
	margin-top:0px;
	font-size:12px;
	position:relative;
	color:#ffffff;
	z-index:999999 !important;
	float:left;
	background:url(../image/slide1.jpg) top no-repeat;
}
.fleft{
	text-align:left;
	width:150px;
}
.footer .social ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.footer .social ul li{
	float:left;
	margin:0px 5px;
}
.social{
	float:right;
	width:130px;
}
.footer-other{
	width:100%;
	padding:10px 0;
	margin-top:30px;
	font-size:12px;
	color:#ffffff;
	margin-top:80px;
}
.footer-other .social ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.footer-other .social ul li{
	float:left;
	margin:0px 5px;
}
.social{
	float:right;
}
/*login*/
.login-head-line{
	font-size:60px;
	color:#ffffff;
	text-align:center;
	font-weight:700;
}
/*.login-outer{
	padding-top:5%;
}*/
.login-box{
	width:60%;
	height:auto;
	padding:5px 0;
	/*max-width:410px;
	max-height:350px;*/
	border-radius:6px;
	background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
}
.lf{
	float:left;
}
.rf{
	float:right;
}
.or{
	width:100%;
	text-align:center;
	margin:5px 0;
}
.form-header{
	text-align:center;
	color:#333333;
	padding:0px 0;
	font-size:25px;
}
.form_input_area{
	background-color:#ffffff;
	border:1px solid #c9c7c7;
	border-radius:8px;
}
.form_input_area_outer{
	width:70%;
	margin:0px auto;
}
.form_input_area .username{
	background:url(../image/user.png) left no-repeat;
	border:none;
	padding-left:40px;
	width:100%;
	padding-right:5px;
	margin-top:5px;
	color:#666666;
	height:30px;
}
.form_input_area .password{
	background:url(../image/password.png) left no-repeat;
	padding-left:40px;
	width:100%;
	border:none;
	height:30px;
	color:#666666;
}
.form_input_area .divider{
	background:#cccccc;
	height:1px;
	margin:10px 0;
}
.submit-button{
	background-color:#5b0e74;
	color:#ffffff;
	width:100%;
	font-size:20px;
	padding:6px 0;
	border:0;
	border-radius:6px;
	margin-top:20px;
	cursor:pointer;
	-webkit-appearance: none;
}
.forgot-password{
	font-size:14px;
	color:#333333;
	margin:10px 0;
	text-align:center;
}
.tandc{
	font-size:14px;
	color:#666666;
	margin:10px 0;
	text-align:center;
}
.form_input_area2{
	width:98%;
	$margin:38% auto;
}
.form_input_area2 .main-button{
	width:70%;
	margin:0 auto;
	$margin-top:130px;
	-webkit-appearance: none;
}
.form_input_area2 .submit-button{
	background-color:#5b0e74;
	color:#ffffff;
	width:100%;
	-webkit-appearance: none;
	font-size:20px;
	padding:6px 0px;
	border:0;
	border-radius:6px;
	cursor:pointer;
	text-align:center;
	$margin:50% auto;
	position:relative;
}
.form_input_area2 .submit-button2{
	background-color:#5b0e74;
	color:#ffffff;
	width:85%;
	font-size:20px;
	padding:6px 0px;
	border:0;
	-webkit-appearance: none;
	border-radius:6px;
	cursor:pointer;
	text-align:center;
	margin:0 auto;
	position:relative;
}
form_input_area2 .redister_form{
	width:90%;
	margin:20px auto;
	background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
}
.redister_form section{
	margin-bottom:10px;
	padding:5px 0px;
	border-bottom:1px solid #a5a5a5;
}
.redister_form .finput{
	background:none;
	border:0;
	padding-left:10px;
	color:#666666;
}
.redister_form .finput .error{
  background: #f8dbdb;
  border-color: #e77776;
}
.redister_form .finput2{
	background:none;
	border:0;
	width:80%;
	padding-left:10px;
	color:#666666;
}
.redister_form .inputstyle{
	border-bottom:1px solid #c1c1c1;
	height:40px;
}
.form_input_area2 #slidediv {
display:none;
width:92%;
margin:0 auto;
position:relative;
top:-35px;
}
.maping{
	width:100%;
	min-height:350px;
}
.error{
font-size:11px;
color:#c33647;
font-style:italic;
text-align: right;
width:87%;
}
/*thankyou*/
.thankyou{
	width:80%;
	text-align:center;
	margin:15% auto;
}
.thankyou p{
font-size:20px;
}

/*Manageprofile*/
.profile_header{
	background-color:#ebebeb;
	padding:20px 0;
}
.profile_header2{
	padding:20px 0;
}
.driver-inner{
	padding:15px;
}
.driver-image{
	width:200px;
	height:200px;
	border:2px solid #0040FF;
	-moz-border-radius: 50%; /* Firefox */
  -webkit-border-radius: 50%; /* Safari and Chrome */
  border-radius: 50%; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
  behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
}
.driver-inner .headline{
	color:#0040FF;
	font-size:30px;
	font-weight:700;
}
.profile-content{
	padding:20px 0;
}
.normal-button{
	background-color:#2E64FE;
	color:#ffffff;
	font-size:20px;
	padding:6px 25px;
	border:0;
	border-radius:6px;
	margin-top:20px;
	cursor:pointer;
	-webkit-appearance: none;
}
#btnright{
	float:right;
	/*margin-right:10px;*/
}
.profile-content .form-area{
	padding:20px 20px;
	color:#919191 !important;
}
.form-area select{
color:#919191;
}
.form-area .field{
	width:70%;
	margin-bottom:10px;
	border:1px solid #e6e6e6;
	padding:7px 10px;
}
.form-area .field2{
	margin-bottom:10px;
	padding:7px 10px;
	text-align:left;
}
.form-area .field3{
	margin-bottom:10px;
	padding:7px 10px;
	text-align:left;
	float:left;
}
.form-area .field_label{
	width:36%;
	height: 35px;
	margin-bottom:10px;
	padding:7px 10px;
	border: 2px solid #b1b1b1;
	border-radius:5px;
	margin-right: 5px;
}
.form-area .field_label2{
	width:58%;
	float:left;
	$margin-bottom:10px;
	padding:16px 10px;
}
.form-area .field_label3{
	width:36%;
	margin-bottom:10px;
	padding:7px 10px;
	border: 1px solid #E6E6E6;
}
.form-area .field4{
	width:56%;
	margin-left:-5px;
	margin-bottom:10px;
	border:1px solid #e6e6e6;
	padding:7px 10px;
}
.field_data{
	width:64% !important;
	margin-left:-5px;
	font-weight:normal !important;
	margin-bottom:10px;
	border:1px solid #e6e6e6;
	padding:7px 10px;
}
.upload-image{
	width:34px;
	height:32px;
	margin-top:8px;
	border:1px solid #e6e6e6;
}
 .field .select-style{
	color:#ff0000 !important;
}
.field-image-field{
	padding:10px;
	width:97%;
	margin-bottom:10px;
	border:2px dashed #b1b1b1;
}
.required-star{
	font-size:10px;
	color:#ff0000;
}

/* Driver Details */

.profile-main-container{ width:100%; float:left; margin:20px 0px 20px 0px !important; border:1px solid #dedede; }
.driver-profile-container{ background:#ebebeb; float:left; width:100%; border-bottom:#dedede 1px solid; }
.driver-img-box{ width:205px; height:205px; float:left; margin:20px 0 20px 35px;}
.driver-img-box img{ width:100%; float:left;  height:100%; border-radius:50%;}
.driver-text-container{ float:left; margin:30px 0 0 40px;}
.driver-text-container h1{ font-size:30px; color:#0040FF; font-weight:bold;}
.driver-text-container p{ color:#666666; font-size:16px;}
.driver-detail-table-container{ width:95%; margin:0px auto;}
.col-lg-12 ul{margin:45px 0 0 0; padding:0px;}
.col-lg-12 ul li{  color:#666666; font-size:16px; width:100%;  padding:10px 0 10px 15px; list-style-type:none;}
.col-lg-12 ul.first li{  color:#666666; font-size:13px; width:100%; padding:10px 0 10px 15px; list-style-type:none; }
/* .btn{ width:31%; background:#0040FF url(../image/btn-icon.jpg); height:46px;} */
.button{ background:#0040FF; height:25px; width:70px; line-height:25px; color:#fff; border:none; border-radius:3px;}

/* End Driver Detail */
.driver-detail-header{
	$width:100%;
	height:150px;
	padding:80px 20px 0px 20px;
	color:#ffffff;
	font-size:35px;
	background:url(../image/all_bg.jpg) top no-repeat;
}
.user-image{
	width:40px;
	height:40px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.edit-profile{
margin-right:10px;
margin-top:15px;
float:right;
}
.comman-button-all{
	background-color:#2E64FE;
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	text-decoration:none;
	color:#ffffff !important;
	position:relative;
	padding:7px 20px;
	padding-right:50px;
	-webkit-appearance:none;
}

.comman-button-all:hover {
	text-decoration:none;
	color:#ffffff !important;
}
.comman-button-all::before {
	background-color:#2E64FE;
	background-image:url(../image/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	border:1px solid #ffffff;
}
/*New right panel*/
.new-right-panel{
	width:82%;
	margin-left:220px;
}
/*Social icons slide effect*/
.social-icons {
	padding: 0!important;
	margin: 0!important;
	list-style-type: none!important;
	width:102px;
	margin:0 auto;
}
.social-icons li{
	float: left!important;
	margin-right: 2px!important;
	margin-bottom: 2px!important;
	padding: 0px!important;
	display: inline!important;
	width: auto!important;

}
.social-icons li a {
	-moz-transition: all 0.3s ease 0s;
	display: block!important;
	float: left!important;
	height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	width: 32px!important;
	height: 32px!important;
	text-indent: -9999px!important;
	font-size:1px !important;
}
.social-icons li a:hover {
	background-position: 0 -40px!important;
}
.social-icons li a {
	background-color:transparent;
}
.social-icons li.facebook a {
	background: url(../image/facebook.png) no-repeat 0 0;
}
.social-icons li.facebook a:hover {
	background-color: #3b5998;
}
.social-icons li.googleplus a {
	background: url(../image/googleplus.png) no-repeat 0 0;
}
.social-icons li.googleplus a:hover {
	background-color: #d94a39;
}
.social-icons li.twitter a {
	background: url(../image/twitter.png) no-repeat 0 0;
}
.social-icons li.twitter a:hover {
	background-color: #48c4d2;
}
.header_nav_main a{
	color:#ffffff !important;
	text-decoration:none;
}
.header_nav_main a:hover{
	color:#ffffff !important;
	text-decoration:none;
}
.header_nav_main ul{
	margin:0;
	padding:0;
}
#upload{
}

#drop{
    text-align: center;
    text-transform: uppercase;
    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#ffffff;
    padding:4px 10px 7px 10px;
    color:#fff;
	border:1px solid #2E64FE;
	vertical-align:top;
    font-size:18px;
	text-align:center;
	/*background:url(../image/add-image.png) no-repeat;*/
    cursor:pointer;
	color:#2E64FE;
	font-weight:bold;
    display:inline-block;
    line-height:1;
}

#drop a:hover{
    background-color:#2E64FE;
	color:#ffffff;
	text-decoration:none;
}

#drop input{
    display:none;
}
/*Driver profile*/
.section-heading{
	color:#ff9d29;
	font-size:22px;
	font-weight:400;
}
.driver-detail-table-container .even {
    background-color: #F5F5F5;
    border-bottom: 2px solid #E1E1E1;
    padding: 10px 10px;
}
.driver-detail-table-container .odd {
    background-color: #fafafa;
    border-bottom: 2px solid #FFFFFF;
    padding: 10px 10px;
}
/*Abhinav*/
.login_panel{
	max-width:450px;
	width:100%;
	margin:-5% auto 0%;
	padding-top:40px;
	/*background-color:#ffffff;*/
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: -1px 0px 35px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 35px -1px rgba(0,0,0,0.75);
box-shadow: -1px 0px 35px -1px rgba(0,0,0,0.75);
}
.login_logo{
	width:150px;
	height:150px;
	border:5px solid #dbdbdb;
	border-radius:50%;
	margin:0 auto;
	text-align:center;
	position:relative;
	z-index:10;
	background: #2E64FE;
}
.login-header{
	width:100%;
	padding:10px 0;
	text-align:center;
}
.login-content{
	padding:30px 10px;
}
.login-divider{
	border-top:1px solid #bcbcbc;
	border-bottom:1px solid #ffffff;
	margin-bottom:10px;
}
.login-content input{
	width:75%;
	border:0;
	margin-bottom:10px;
	padding:8px 10px;
	border:1px solid #dbdbdb;
	/* background-color:#f2f2f2; */
}
.login-input{
	margin:0 auto;
	margin-left:12%;
}
.login-content input:focus .login-content input:hover {
  outline: 0px solid black !important;
  box-shadow:none;
  border-color:transparent;
  background-color:ff0000 !important;
 }
.login-content placeholder{
	color:#333333 !important;
}
.button-min{
	font-size:15px;
	color:#ffffff;
	width:30% !important;
	padding:10px 15px !important;
	margin-left:35%;
	margin-top:5%;
	background-color:#1c316f !important;
}
input:-webkit-autofill{
	background-color: rgb(255, 255, 255) !important;
	/*background-color: rgb(250, 255, 189);*/
	background-image: none;
	color: rgb(0, 0, 0);
}
.admin-profile-thumb {
    border-radius:50%;
    float: left;
    height: 40px;
    width: 40px;
	margin-top:-5px;
margin-right:10px;
}
.admin-profile-thumb img{
border-radius:50%;
height: 40px;
width: 40px;
}
/*checkbox*/
.form-area input[type="checkbox"] {
    /* display:none; */
}

input[type="checkbox"] + label {
    color:##919191;
}

input[type="checkbox"] + label div {
    display:inline-block;
    width:32px;
    height:31px;
	position:absolute;
    margin:-5px 4px 0 36%;
    vertical-align:middle;
    background:url(../images/checkbox.jpg) -32px top no-repeat no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label div {
    background:url(../images/checkbox.jpg) left top no-repeat;
}
.week-shorten{
	text-align:right;
}

/*radiobutton*/
.form-area input[type="radio"] {
    display:none;
}

input[type="radio"] + label {

}

input[type="radio"] + label span {
    display:inline-block;
    width:32px;
    height:31px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/radiobutton.jpg) -32px top no-repeat no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../images/radiobutton.jpg) left top no-repeat;
}

/*icons*/
.fa-building-o:before{
	padding-left:2px;
}
.fa-plane:before{
	padding-left:2px;
	padding-top:2px;
}
.fa-file-o:before{
	padding-left:3px;
}
/**/
.pay_button{
	background-color:#4db54d;
	color:#ffffff !important;
	padding:2px 5px;
	font-size:11px;
	border:0;
	border-bottom:2px solid #c1ffc1;
}
.pay_button a{
	background-color:#4db54d;
	color:#ffffff !important;
	text-decoration:none;
}
.feedback_header{
	background-color:#ffffff;
	padding:5px 5px;
	margin-bottom:10px;
	color:#e78e3e;
	font-size:12px;
	font-weight:bold;
}
.comment_textarea{
	border: 1px solid #E6E6E6;
    margin-bottom: 10px;
    padding: 7px 10px;
    width: 100%;
	height:60px;
	overflow:auto;
}
.dash_text{
color: #FFFFFF;
    font-family: 'Roboto Slab',serif;
    font-size: 35px;
    padding-top: 0px;
	margin-bottom:20px;
    text-align: center;
    text-shadow: 2px 2px #000000;
    width: 100%;
    padding-bottom: 150px;
}
#page-loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: white;
  z-index: 99;
  display: none;
  text-align: center;
  width: 100%;
  padding-top: 25px;
}
.map_driver_image {
    border-radius:50%;
	text-align:center;
    height: 40px;
    width: 40px;
	margin:0 auto;
	margin-top:-5px;
margin-right:10px;
}
.map_driver_image img{
border-radius:50%;
height: 40px;
width: 40px;
}

.switch-language{
	padding: 10px 10px;
}

.switch-language .switch-field{
	color: white;
}

.checkbox_display_none{
	display:none;
}

.align_text_center{
	text-align:center;
}

.nav_right_padding_top{
	padding-top:10px;
}

.dash-table tr {
    cursor: pointer;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background: aliceblue !important;
}

.daterangepicker .input-mini.active {
      background: aliceblue !important;
}

.date_input {
	padding: 6px;
    width: 100% !important;
    border-radius: 4px;
}

.btn-default{
	border: 2px solid #b1b1b1;
}

.comment{
	border: 2px solid #b1b1b1;
    border-radius: 5px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.navbar-inverse {
    background-color: #1c316f;
    border-color: #1c316f;
}

.nav > li {
  position: relative;
  display: block;
  border-bottom: 1px solid #1c316f;
}

.nav > li:hover {
  position: relative;
  display: block;
  background: #03154c !important;
}

.btn-primary {
    color: #fff;
    background-color: #1c316f;
    border-color: #1c316f;
}

.btn-info {
    color: #fff;
    background-color: #1c316f;
    border-color: #1c316f;
    margin: 0 50px;
}

.trip_type_label{
	font-size: 20px;
	color: white;
    border: 1px solid #1c316f;
    background: #1c316f;
    border-radious: 5px;
    border-radius: 5px;
    padding: 0 5px;
    padding-bottom: 5px;
}

.bill_type_label{
	font-size: 20px;
	color: white;
    border: 1px solid #1c316f;
    background: #1c316f;
    border-radious: 5px;
    border-radius: 5px;
    padding: 0 5px;
    padding-bottom: 5px;
}

.ratebook_type_label{
	font-size: 20px;
	color: white;
    border: 1px solid #1c316f;
    background: #1c316f;
    border-radious: 5px;
    border-radius: 5px;
    padding: 0 5px;
    padding-bottom: 5px;
}

.trip_complete{
	background-color:#949494;
	border-bottom: 2px solid #e1e1e1;
}

#map-canvas {
    min-height: 700px;
    height: auto;
    width: max-width:1000px;
    width: 100%;
}

#overlay {
   background-color: grey;
   opacity: 0.5;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000;
}

.input-error{
	margin:0 auto;
	margin-left:12%;
	color: red;
}

input.ng-invalid {
    background-color: #f2dede;
}

input.ng-pristine {
    background-color: white !important;
}

select.ng-invalid {
    background-color: #f2dede;
}

select.ng-pristine {
    background-color: white !important;
}

/* .nav_left_padding_top {
	margin-top: 10px;
} */

.span-block {
	display: block;
}


.width-100{
	width:100%;
    text-align: center;
}

.nav {
	height: 66px;
}
