<app-header></app-header>

<!-- container -->
<div id="log-in-main-container">
	<div class="dash_text">Welcome to Admin Dashboard!</div>
  <div class="login_panel">
    <div class="login-content">
    
      <form name="mainForm" action="index.php" method="post" novalidate>
        <input class="login-input" type="text" id="username" name="username" ng-model="adminLoginCtrl.username" required>
        
        <input class="login-input" type="password" id="password" name="password" ng-model="adminLoginCtrl.password" required>
        <input ng-click="adminLoginCtrl.login()" ng-disabled="mainForm.$invalid" class="btn btn-info" type="button" value="Login">
        <div>
	        <h6>Status : {{adminLoginCtrl.status}}</h6>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- container -->

<app-footer></app-footer>